{% extends 'store/base.html' %}

{% block content %}
<h2>Productos</h2>
<div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card mb-4">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" style="height: 200px; object-fit: cover;">
            {% endif %}
            <div class="card-body">
                <h5>{{ product.name }}</h5>
                <p>${{ product.price }}</p>
                <small>Stock: {{ product.stock }}</small>
                <div>
                    {% for cat in product.categories.all %}
                        <span class="badge bg-secondary">{{ cat.name }}</span>
                    {% endfor %}
                </div>
                <a href="{% url 'add_to_cart' product.id %}" class="btn btn-success mt-2">Agregar al carrito</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No hay productos aún.</p>
    {% endfor %}
</div>
{% endblock %}